@charset "utf-8";

body {
  background-color: #2F2C2B;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  color: #fff;
}

h1, h2 {
  color: #FFF;
  text-transform: uppercase;
  font-family: 'TitilliumText14L800wt', sans-serif;
}

.graph {
	float:left;
	margin-right: 15px;
	border: 1px dotted #999;
}
.graph h2 {
	font-size: 1em;
	font-weight:normal;
	color: #fff;
	text-align:center;
}
.bar_holder > div {
	float:left;
}
.bar_holder .bar {
	width: 30px;
}
.bar_holder .spacer {
	padding-bottom: 5px;
	text-align:center;
}
.bar_holder .shipping_info {
	color: #65B86A;
}
.bar_holder .shipping_info .bar {
	background-color: #65B86A;
	border: 1px solid #65B86A;
}
.bar_holder .billing_info {
	color: #C44939;
}
.bar_holder .billing_info .bar {
	background-color: #C44939;
	border: 1px solid #c44939;
}
.bar_holder .confirmation {
	color: #7BE4D6;
}
.bar_holder .confirmation .bar {
	background-color: #7BE4D6;
	border: 1px solid #7BE4D6;
}
.bar_holder .purchase {
	color: #fffe9e;
}
.bar_holder .purchase .bar {
	background-color: #fffe9e;
	border: 1px solid #fffe9e;
}
a {
	color: #fff;
}
#shopping_info {
	height: 190px;
	padding-bottom: 15px;
}
#shopping_info .bar_holder > div {
	padding: 0 5px;
}
#shopping_info h3 {
	margin: 0;
	color: #fff;
}
.graph .revenue {
	color: #fff;
	text-align:center;
	line-height: 25px;
}

/* Fonts */

@font-face {
	font-family: 'TitilliumText14L800wt';
	src: url('../fonts/TitilliumText800wt.eot');
	src: local('TitilliumText14L'), local('TitilliumText14L-800wt'), url('../fonts/TitilliumText800wt.woff') format('woff'), url('../fonts/TitilliumText800wt.ttf') format('truetype'), url('../fonts/TitilliumText800wt.svg#TitilliumText14L-800wt') format('svg');
}
